.hide {
  display: none;
}


// MIXINS
@mixin backgroundImageNoRepeat {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin sectionSize($size:var(--main-size)) {
  max-width: $size;
  width: 100%;
}

// BASE 
html {
  all: unset;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-family: var(--font-family);
  overflow-x: hidden;
  /* color: var(--color-primary); */
}

.main-content {
  display: grid;
}

.home {
  display: grid;
  /* grid-template-rows: 1fr auto; */
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.dark-section {
  background: var(--primary)
}

.light-section {
  background: white;
}

.outline-button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  width: fit-content;
}

.outline-button-dark {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 1rem;
  color: var(--primary);
  width: fit-content;
}

.root {
  display: grid;
  width: 100vw;
  grid-template-rows: 130px 1fr auto;
}

.go-up-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  background: var(--primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg {
    color: white;
  }

  &:hover {
    content: "IR ARRIBA";
    color: var(--primary);
    background-color: white;

    svg {
      color: var(--primary);
    }
  }

}

.titles {
  .subtitle {
    font-size: clamp(0.75rem, 2.7vw - 0.4rem, 1.25rem);
  }

  .title {
    font-size: clamp(1.875rem, 6.7vw - 1rem, 3.125rem);
  }
}


.navbar-fixed {
  position: fixed;
  max-width: 100% !important;
  width: 100vw !important;
  top: 0;
  background-color: var(--primary);
  z-index: 4;
}

// navbar
header {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;

  .navbar {
    @include sectionSize();
    padding: 1rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    height: 130px;

    .navbar__actions {
      display: inherit;
      gap: 1.5rem;
      grid-auto-flow: column;
      align-items: center;
      justify-items: center;
      color: white;
      padding-right: 2rem;

      .navbar__actions-link {
        color: white;
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: 0.02em;
      }
    }
  }
}

.navbar-mobile,
.navbar-mobile-actions {
  display: none;
}

//breakpoint for mobile
@media only screen and (max-width: 768px) {
  .root {
    grid-template-rows: 100px 1fr auto;
  }

  header {
    height: 100px;
  }

  .navbar {
    display: none !important;
  }

  //navbar  
  .navbar-mobile {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 0.5rem 1rem;

    .navbar-mobile-menu {
      display: grid;
      cursor: pointer;
    }

    .navbar-brand {
      width: fit-content;
      align-self: center;
      justify-self: center;

      .navbar-link {
        width: fit-content;
        height: fit-content;
      }

      height: 50px;

      img {
        height: 100%;
      }
    }
  }


}

.navbar-mobile-actions {
  display: none;
  position: absolute;
  z-index: 3;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--primary);
  color: white;

  .navbar-mobile-close {
    display: grid;
    border-radius: 3rem;
    justify-self: center;
    border: 1px solid white;
    padding: 0.8rem;
    cursor: pointer;

    img {
      width: fit-content;
      height: fit-cotent;
    }
  }

  .navbar-mobile-brand {
    display: grid;
    justify-content: center;
  }

  .navbar-actions-link {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    width: fit-content;
    height: fit-content;
    background: var(--primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background: var(--primary-dark);
    }
  }
}

// HERO
.hero {
  // background-image
  @include backgroundImageNoRepeat();
  display: grid;
  justify-items: center;
  align-items: end;
  padding: 2rem;
  color: white;
  height: calc(100vh - var(--navbar-size));

  @media screen and (max-width: 768px) {
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }

  .titles {
    @include sectionSize();
    display: inherit;
    gap: 3.75rem;

    @media screen and (max-width: 768px) {
      @include sectionSize(100%);
      align-items: center;
      justify-items: center;
    }

    .title {
      font-size: clamp(2rem, 9.3vw - 2.1rem, 3.75rem);
      width: 500px;
      line-height: 4rem;
      letter-spacing: 0.14em;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .hero-link {
      font-weight: bold;
      font-size: clamp(0.875rem, 3.3vw - 0.6rem, 1.5rem);
      letter-spacing: 0.15em;
    }

    hr {
      border-width: 4px;
      border-style: solid;
      border-radius: 3rem;
      background: white;
      width: 100%;

      @media screen and (max-width: 768px) {
        border-width: 2px;
      }
    }
  }
}

//ABOUT

.about-container {
  display: grid;
  justify-items: center;
  color: white;

  .about-who {
    @include sectionSize();
    // height: 80vh;
    padding: 6rem 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 1rem;
    }

    .column {
      position: relative;
      z-index: 2;
      display: grid;
      gap: 2rem;
    }

    .paragraphs {
      display: grid;
      gap: 1rem;
    }

    .paragraph {
      font-size: clamp(0.875rem, 2vw + 0rem, 1.25rem);
      line-height: 1.6rem;
    }

    &__image {
      position: relative;
      top: 10px;
      align-self: center;
      justify-self: center;
      z-index: 1;
      width: 100%;
    }
  }

  .about-us {
    position: relative;

    &__image {
      position: absolute;
      background-image: url('/img/about-us-full.png');
      background-repeat: no-repeat;
      background-position: center;
      top: 293px;
      border-radius: 1rem;
      height: 375px;
      width: 100%;
      z-index: 1;

      @media screen and (max-width: 760px) {
        display: none;
      }

    }

    @include sectionSize();
    padding: 6rem 2rem;
    display: grid;
    align-items: center;

    @media screen and (max-width: 760px) {
      padding: 6rem 1rem;
    }

    .card-group {
      position: relative;
      z-index: 2;
      display: grid;
      gap: 2.125rem;
      justify-items: center;
      padding: 3.25rem;

      .team-card {
        display: grid;
        width: fit-content;
        background: white;
        border-radius: 0.938rem;
        color: black;
        padding: 1.313rem 1.875rem;
        font-size: clamp(0.875rem, 2vw + 0rem, 1.25rem);

        @media screen and (max-width: 760px) {
          width: 100%;
        }

        &__title {
          color: var(--secondary);
          padding-bottom: 1rem;
          font-size: inherit;
        }

        &__name {
          font-size: inherit;
        }

        &__description {
          width: 350px;

          @media screen and (max-width: 760px) {
            width: 100%;
          }
        }
      }
    }
  }
}

// PROJECTS

.our-projects-container {
  display: grid;
  justify-items: center;

  .our-projects {
    display: grid;
    @include sectionSize();
    padding: 3rem 2rem;
    justify-items: center;
    gap: 2rem;

    @media screen and (max-width: 760px) {
      padding: 1rem;
      gap: 0.5rem;
    }

    &__card {
      display: grid;
      @include backgroundImageNoRepeat();

      height: 514px;
      width: 80%;
      border-radius: 0.938rem;
      padding: 2.25rem;

      &--image {
        display: none;

        img {
          width: 100%;
        }

        @media screen and (max-width: 760px) {
          display: block;
        }
      }

      &-content {
        align-self: end;
        color: white;

        --titles {
          font-size: clamp(1rem, 6.7vw - 1.9rem, 2.25rem);
          padding-bottom: 1rem;

          h2 {
            color: rgba(255, 255, 255, 0.5);
          }
        }

        &--text {
          font-size: clamp(0.875rem, 2vw + 0rem, 1.25rem);
        }
      }
    }
  }
}

// SERVICES

.services-container {
  display: grid;
  justify-items: center;

  .services {
    display: grid;
    @include sectionSize();
    padding: 8rem 2rem;
    gap: 5.188rem;

    @media screen and (max-width: 760px) {
      gap: 2rem;
      padding: 6rem 1rem;
    }

    &-divider__horizontal {
      width: 200px;
      background: white;
      height: 2px;
    }

    &-card {
      background-image: url('/img/services-control-de-activos.png');
      @include backgroundImageNoRepeat();
      display: grid;
      height: 751px;
      width: 100%;
      border-radius: 0.938rem;
      padding: 2.25rem;
      justify-self: center;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 1.25rem;

      @media screen and (max-width: 760px) {
        height: 100%;
      }

      &__content {
        display: grid;
        align-self: end;
        grid-template-columns: var(--responsive-columns);
        gap: 6.25rem;
        color: white;
        font-size: var(--responsive-text);

        @media screen and (max-width: 760px) {
          gap: 2rem;
        }

        .services-card__paragraph-wrapper {
          display: grid;
          gap: 1rem;
        }
      }
    }

    &-card--2 {
      h1.title {
        width: 95%;
      }

      background-image: url('/img/services-clientes-emisores.png');
      @include backgroundImageNoRepeat();
      display: grid;
      height: 751px;
      width: 100%;
      border-radius: 0.938rem;
      padding: 2.25rem;
      justify-self: center;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 1.25rem;

      @media screen and (max-width: 760px) {
        background-position: 0px -119px;
        padding: 1rem;
        height: 100%;
      }

      &__content {
        display: grid;
        align-self: end;
        grid-template-columns: var(--responsive-columns);
        gap: 6.25rem;
        color: white;
        font-size: 1.25rem;

        @media screen and (max-width: 760px) {
          gap: 2rem;
        }

        .services-card__paragraph-wrapper {
          display: grid;
          gap: 1rem;
          align-items: end;
        }
      }
    }
  }

  .facts {
    display: grid;
    grid-template-columns: var(--responsive-columns);
    color: white;
    padding-top: 3rem;

    @media screen and (max-width: 760px) {
      justify-content: center;
      text-align: center;
    }

    &-cipher__content {
      display: inherit;
      gap: 0.5rem;
      align-items: center;

      @media screen and (max-width: 760px) {
        justify-content: center;
        text-align: center;
      }
    }

    &-cipher__title {
      font-size: clamp(1rem, 5.3vw - 1.3rem, 2rem);
    }

    &-cipher__number {
      font-size: clamp(2.75rem, 15.3vw - 4rem, 5.625rem);
      color: var(--accent);
    }
  }

  .factoring-button {
    justify-self: center;
    font-size: clamp(0.875rem, 3.3vw - 0.6rem, 1.5rem);
    font-weight: bold;
    letter-spacing: 0.15em;
  }
}

// PARTNERS
.partners-container {
  display: grid;
  justify-items: center;

  .partners {
    padding: 3rem 2rem;
    display: inherit;
    width: 100%;
    @include sectionSize();

    &-slider {
      height: 500px;
      display: grid;
      justify-content: center;

      &>* {
        height: 100%;
      }

      .splide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
      }

      .splide__pagination__page.is-active {
        background: var(--accent);
      }

      .splide__slide {
        display: grid;
        align-items: center;
        justify-items: center;

        &-image {
          width: 60%;
          height: auto;
          align-self: center;
          @include backgroundImageNoRepeat();
          background-size: contain;
        }
      }
    }
  }
}


footer {
  display: grid;
  justify-items: center;
  width: 100%;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include sectionSize();
    width: 100%;
    padding: 6.5rem 2rem;
    align-items: center;
    justify-items: center;
    color: white;

    @media screen and (max-width: 768px) {
      @include sectionSize(100%);
      padding: 3rem 2rem;
    }

    .footer-content-left {
      height: 100%;
      width: 100%;
      font-size: clamp(1.15rem, 3.7vw - 0.5rem, 1.85rem);
      font-weight: 300;

      .footer-info {
        display: grid;
        gap: 1rem;

        li {
          display: inherit;
          grid-auto-flow: column;
          width: fit-content;
          gap: 1rem;
          align-items: center;

          @media screen and (max-width: 768px) {
            img {
              width: 30px;
            }
          }
        }

      }
    }

    .footer-content-right {
      display: grid;
      width: 100%;
      height: 100%;
      justify-items: center;
      align-self: end;
      font-size: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.25em;
      align-self: end;
      height: fit-content;

      @media screen and (max-width: 768px) {
        display: none;

      }
    }
  }
}

// FACTORING
// -- DOWNLOAD SECTION
.download-section {
  display: grid;
  justify-items: center;

  .download-container {
    @include sectionSize();
    padding: 6rem 2rem;

    .download-content {
      display: grid;
      justify-items: center;
      gap: 1rem;

      .download-title {
        width: 60%;
        text-align: center;
        font-size: clamp(1.5rem, 8.7vw - 2.3rem, 3.125rem);
        font-weight: bold;
        letter-spacing: 0.025em;
      }

      .download-button {
        background: var(--primary);
        color: white;
        padding: 0.5rem 3rem;
        font-size: clamp(0.875rem, 3.3vw - 0.6rem, 1.5rem);
        border-radius: 5px;
        letter-spacing: 0.05em;
        font-weight: bold;
      }
    }
  }
}

.format-section {
  display: grid;
  justify-items: center;
  color: white;

  .format-container {
    display: grid;
    justify-items: center;
    width: 100%;
    padding: 8rem 2rem;

    @include sectionSize();

    .format-title {
      font-size: clamp(1.5rem, 8.7vw - 2.3rem, 3.125rem);
      font-weight: bold;
      letter-spacing: 0.025em;
      width: 100%;
      text-align: center;
    }

    .format-content {
      width: 100%;
      display: grid;
      gap: 3rem;
    }

    .format-form {
      width: 100%;

      form {
        width: 100%;
      }

      .form-group {
        display: grid;
        gap: 2rem;

        .form-control {
          width: 100%;
          padding: 1rem;
          border-radius: 1rem;
          font-family: var(--font-family);
          font-size: 1.2rem;
        }
      }
    }
  }
}

.form-upload-zone {
  padding: 1rem;
  border: 2px dashed white;
  border-radius: 1rem;

  .form-upload-zone--wrapper {
    position: relative;
    background: white;
    padding: 4rem;
    border-radius: 1rem;
    color: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;

    .upload-control {
      position: absolute;
      visibility: hidden;
    }
  }
}

.highlight {
  background: rgba(214, 213, 213, 0.541);
}

.submit-button {
  color: white;
  background: transparent;
  padding: 0.5rem 3rem;
  font-size: 1.5rem;
  border-radius: 5px;
  letter-spacing: 0.05em;
  font-weight: bold;
  border: 2px solid white;
  width: 100%;
  margin-top: 2rem;
}

.endline {
  width: 100%;
  height: 4px;
  background-color: white;
}


// GRAPH SECTION

.graph-container {
  display: grid;
  justify-items: center;
  width: 100%;

  .graph-section {
    display: grid;
    gap: 2rem;
    justify-items: center;
    width: 100%;
    padding: 6rem 2rem;

    @include sectionSize();

    .titles {
      .title {
        justify-self: center;
        width: 90%;
        text-align: center;
      }
    }

    .graph-wrapper {
      display: grid;
      justify-items: center;
      padding: 2rem;

      img {
        width: 90%;
      }
    }
  }
}